@import "assets/styles/color-variables.scss";

.dashboardContainer {
  height: 100%;
  text-align: center;
  background: url("../../../img/background-images/dashboardBG.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 180px bottom;
  background-attachment: fixed;
  padding: 57px 33px 33px 33px;
  box-shadow: $color-sidebar-shadow;

  .dashboardTitle {
    font-size: 32px;
    margin: 0 0 24px 0;
    font-weight: 700;
  }

  .dashboardInfoContainer {
    max-width: 456px;
    width: 100%;
    margin: 67px auto 0 auto;
    border-radius: 15px;
    overflow: hidden;
    animation: entrance 0.3s ease-in 0s 1 normal forwards;

    .infoContainer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-dark-transparent-background;
      color: $color-text-main;
      height: 200px;

      &::after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 1px;
        background: $color-grey-transparent-background-line;
      }

      &:last-child::after {
        content: "";
        display: none;
      }

      .infoTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 21px;
        padding: 0 20px;
        img {
          margin: 0 42px 0 0;
        }
      }
      .infoData {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 154px;
        min-width: 154px;
        height: 100%;
        font-size: 25px;
        background-color: $color-red-transparent-background;
      }
    }
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
