@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");

.preloaderContainer {
  position: absolute;
  background-color: #f2ede7;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: entrance 0.3s ease-in 0s 1 normal forwards;
  .textContainer {
    display: flex;
    align-items: center;
    h1 {
      font-family: "Borel", cursive;
      font-size: 45px;
      font-weight: 600;
      text-align: center;
      color: #12130f;
      margin: 30px 10px 10px 0;
    }
    .firstDot,
    .secondDot,
    .thirdDot {
      width: 20px;
      height: 20px;
      background-color: #12130f;
      border-radius: 50%;
      margin: 5px;
    }
    .firstDot {
      animation: firstDot 2s ease-in 0s infinite normal forwards;
    }
    .secondDot {
      animation: secondDot 2s ease-in 0s infinite normal forwards;
    }
    .thirdDot {
      animation: thirdDot 2s ease-in 0s infinite normal forwards;
    }
  }
}

@media only screen and (max-height: 702px) {
  .preloaderContainer {
    position: relative;
    height: 100vh;
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes firstDot {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  10% {
    transform: scale(1);
    opacity: 1;
  }

  30% {
    transform: scale(1.3);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  60% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes secondDot {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  20% {
    transform: scale(0);
    opacity: 0;
  }

  30% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 1;
  }

  70% {
    transform: scale(1);
    opacity: 1;
  }

  80% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes thirdDot {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  40% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  70% {
    transform: scale(1.3);
    opacity: 1;
  }

  90% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
