@import "assets/styles/color-variables.scss";

.currentUserContainer {
  position: relative;
  height: 100%;
  text-align: center;
  background: url("../../../img/background-images/usersBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  padding: 43px 33px 33px 33px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .profilesContainer {
    animation: entrance 0.3s ease-in 0s 1 normal forwards;
    width: 100%;

    .title {
      text-align: left;
      font-size: 32px;
      margin: 0 0 24px 0;
      font-weight: 700;
    }
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
