@import "assets/styles/color-variables.scss";

.sidebarContainer {
  background: $color-dark-background;
  box-shadow: 9px 4px 26px 0px $color-sidebar-shadow;
  color: $color-sidebar-text;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 35px 0 28px 0;

  .sidebarContent {
    text-align: center;
    .userImage {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      background-color: $color-sidebar-text;
    }
    .userRole {
      color: $color-sidebar-text;
      font-size: 21px;
      line-height: normal;
      margin: 10px 0 85px 0;
    }

    .navLink {
      display: flex;
      align-items: center;
      padding: 0 0 0 27px;
      color: $color-text-white;
      height: 71px;
      transition: 0.2s ease;
      &:hover {
        background-color: $color-nav-link-hover;
      }
    }

    .activeNavLink {
      display: flex;
      align-items: center;
      padding: 0 0 0 27px;
      width: 100%;
      height: 71px;
      background-color: $color-text-red;
      color: $color-text-white;
    }

    .activeNavLink > .icon,
    .navLink > .icon {
      margin: 0 10px 0 0;
    }
  }
  .logOutButton {
    position: fixed;
    z-index: 5;
    bottom: 28px;
    text-align: left;
    color: $color-text-white;
    background: none;
    font-size: 21px;
    padding: 0 27px 0 27px;
    transition: 0.2s ease;
    &:hover {
      color: $color-logout-button-hover;
    }
    &:active {
      transform: scale(0.99);
    }
  }
}
