@import "assets/styles/color-variables.scss";

.profilesContainer {
  position: relative;
  height: 100%;
  text-align: center;
  background: url("../../../img/background-images/usersBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  padding: 43px 33px 33px 33px;

  .usersTitle {
    font-size: 32px;
    margin: 0 0 24px 0;
    font-weight: 700;
  }
  .filterContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 32px;
    width: 100%;
    max-width: 1035px;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 234px);
    justify-content: center;
    flex-flow: wrap;
    gap: 33px;
    animation: entrance 0.3s ease-in 0s 1 normal forwards;
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1386px) {
  .filterContainer {
    width: 100%;
    max-width: 768px !important;
  }
}

@media screen and (max-width: 1052px) {
  .filterContainer {
    width: 100%;
    max-width: 501px !important;
  }
}
