/* Main colors */
$color-main-background: #f2ede7;
$color-text-white: #fff;
$color-dark-background: #12130f;
$color-text-main: #f2ede7;
$color-text-red: #af253c;
$color-transparent-background: rgba(255, 255, 255, 0);

/* Form */
$color-dark-transparent-background: rgba(18, 19, 15, 0.92);
$color-text-input: #331e10;
$color-text-input-placeholder: #341e11;
$color-checkbox-background: #d9d9d9;

/* Sidebar */
$color-sidebar-shadow: rgba(0, 0, 0, 0.25);
$color-sidebar-text: #f2ede7;
$color-nav-link-hover: #3d3d3d;
$color-logout-button-hover: #c7c7c7;

/* Users */
$color-dark-background: #242420;
$color-text-button: #12130f;
$color-background-accept-button: #8fcb9b;
$color-background-decline-button: #af253c;
